workflows/adzuna-job-scraper.json
{
  "name": "Adzuna Job Scraper",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "id": "bfffdba9-0634-435d-9c13-06cd477ed576",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -2032,
        -16
      ]
    },
    {
      "parameters": {
        "url": "=https://api.adzuna.com/v1/api/jobs/ca/search/1",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "results_per_page",
              "value": "50"
            },
            {
              "name": "what",
              "value": "software developer"
            },
            {
              "name": "where",
              "value": "Vancouver"
            },
            {
              "name": "sort_by",
              "value": "date"
            }
          ]
        },
        "options": {}
      },
      "id": "200cfaac-4a6c-4f3d-a523-4e5eb1e77977",
      "name": "Adzuna API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -1808,
        -16
      ],
      "notesInFlow": true,
      "credentials": {
        "httpCustomAuth": {
          "id": "l2OsUnBcStrDJoug",
          "name": "Adzuna_API"
        }
      },
      "notes": "Fetches jobs from Adzuna API\nUpdate 'what' and 'where' params as needed\nRequires 'Adzuna API' Custom Auth credential"
    },
    {
      "parameters": {
        "jsCode": "// Transform Adzuna response to clean job data\nconst results = $input.item.json.results || [];\n\nconst jobs = results.map(job => {\n  return {\n    job_id: job.id || '',\n    title: job.title || '',\n    company: job.company?.display_name || 'Unknown',\n    location: job.location?.display_name || 'Not specified',\n    salary_min: job.salary_min || -1,\n    salary_max: job.salary_max || -1,\n    salary_display: job.salary_is_predicted ? 'Predicted' : 'Actual',\n    description: job.description || '',\n    url: job.redirect_url || '',\n    posted_date: job.created || '',\n    scraped_date: new Date().toISOString(),\n    category: job.category?.label || '',\n    contract_type: job.contract_type || '',\n    status: 'new',\n    full_description: ''\n  };\n});\n\nreturn jobs"
      },
      "id": "f08178ce-5a7e-4ff0-940c-79a0f823bafa",
      "name": "Transform Job Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1584,
        -112
      ],
      "notesInFlow": true,
      "notes": "Cleans and structures job data for Google Sheets"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1hbLk3vna5jKDJElkWXTt0WzsVoy8WmSH2bXS8CkykKI",
          "mode": "list",
          "cachedResultName": "Job Listings",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hbLk3vna5jKDJElkWXTt0WzsVoy8WmSH2bXS8CkykKI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hbLk3vna5jKDJElkWXTt0WzsVoy8WmSH2bXS8CkykKI/edit#gid=0"
        },
        "options": {}
      },
      "id": "eea4a7dc-4b74-48eb-89d0-2bec49b4c083",
      "name": "Read Existing Job IDs",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [
        -1584,
        80
      ],
      "notesInFlow": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "w63BorthWOhmbdvW",
          "name": "Google Sheets account"
        }
      },
      "notes": "Reads all existing job_id values from column A\nContinues even if sheet is empty"
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "d9fdf557-b953-4ea2-89dc-9ad673b19e84",
      "name": "Any New Jobs?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -1136,
        -16
      ],
      "notesInFlow": true,
      "executeOnce": false,
      "notes": "Only continues if there are new jobs to add"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1hbLk3vna5jKDJElkWXTt0WzsVoy8WmSH2bXS8CkykKI",
          "mode": "list",
          "cachedResultName": "Job Listings",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hbLk3vna5jKDJElkWXTt0WzsVoy8WmSH2bXS8CkykKI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hbLk3vna5jKDJElkWXTt0WzsVoy8WmSH2bXS8CkykKI/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "job_id",
              "displayName": "job_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company",
              "displayName": "company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "location",
              "displayName": "location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "salary_min",
              "displayName": "salary_min",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "salary_max",
              "displayName": "salary_max",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "salary_display",
              "displayName": "salary_display",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "posted_date",
              "displayName": "posted_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "scraped_date",
              "displayName": "scraped_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "contract_type",
              "displayName": "contract_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "2ae4971c-7e3f-4121-9998-13ee9f27bbca",
      "name": "Append New Jobs Only",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [
        -912,
        -112
      ],
      "notesInFlow": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "w63BorthWOhmbdvW",
          "name": "Google Sheets account"
        }
      },
      "notes": "Appends only new jobs - never updates existing ones"
    },
    {
      "parameters": {
        "jsCode": "// Log success with details\nconst itemCount = $input.all().length;\nreturn [{\n  json: {\n    success: true,\n    new_jobs_added: itemCount,\n    timestamp: new Date().toISOString(),\n    message: `Successfully added ${itemCount} new jobs (duplicates filtered)`\n  }\n}];"
      },
      "id": "bda65af9-0461-434d-8dba-c68529743ba4",
      "name": "Log Success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -688,
        -112
      ]
    },
    {
      "parameters": {
        "jsCode": "// Log when no new jobs found\nreturn [{\n  json: {\n    success: true,\n    new_jobs_added: 0,\n    timestamp: new Date().toISOString(),\n    message: 'No new jobs found - all were duplicates'\n  }\n}];"
      },
      "id": "26a6ea1b-6cd9-424b-b3c8-d72a93e7bd34",
      "name": "Log No New Jobs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -912,
        80
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "job_id",
        "joinMode": "keepNonMatches",
        "outputDataFrom": "input1",
        "options": {
          "fuzzyCompare": true
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1360,
        -16
      ],
      "id": "f01cecd6-55f0-48f4-bd62-0849fd9d4e95",
      "name": "Merge",
      "alwaysOutputData": true
    }
  ],
  "pinData": {
    "Adzuna API": [
      {
        "json": {
          "count": 365,
          "__CLASS__": "Adzuna::API::Response::JobSearchResults",
          "results": [
            {
              "__CLASS__": "Adzuna::API::Response::Job",
              "location": {
                "__CLASS__": "Adzuna::API::Response::Location",
                "area": [
                  "Canada",
                  "British Columbia",
                  "Greater Vancouver",
                  "Vancouver"
                ],
                "display_name": "Vancouver, Greater Vancouver"
              },
              "created": "2025-10-29T23:56:02Z",
              "company": {
                "__CLASS__": "Adzuna::API::Response::Company",
                "display_name": "Aviso Wealth"
              },
              "description": "Job Description Job Description Aviso: At Aviso, we are dedicated to improving the financial well-being of Canadians. As a leading wealth management organization, we are committed to leadership, innovation, partnership, responsibility, and community. Working with talented and energetic professionals who exemplify our values every day, you will quickly notice that our people and dynamic ‘oneaviso’ culture sets us apart. If you are looking for interesting and challenging work, at a company commit…",
              "title": "Associate DevSecOps Engineer, Temporary",
              "category": {
                "label": "IT Jobs",
                "tag": "it-jobs",
                "__CLASS__": "Adzuna::API::Response::Category"
              },
              "longitude": -123.108651,
              "redirect_url": "https://www.adzuna.ca/details/5470549553?utm_medium=api&utm_source=ead00a1f",
              "adref": "eyJhbGciOiJIUzI1NiJ9.eyJzIjoiS20zOFIwLTE4QkdRTmRnd1RDb3pZUSIsImkiOiI1NDcwNTQ5NTUzIn0.DYOuu7SecjfqhVOzZ8DyVqwt3PyGPGQhPc8LY6uGuDg",
              "id": "5470549553",
              "latitude": 49.252255,
              "salary_is_predicted": "0"
            },
            {
              "description": "Job Description Job Description Who Are We? UniUni, a North American leader in last-mile logistics, delivers tens of millions of parcels annually across Canada, from coast to coast, and is rapidly expanding its footprint in the United States. Founded in 2019, UniUni is known for its tech-driven innovation and crowdsourced delivery model, providing fast, economical, and reliable services to local, national, and international e-commerce clients. What Do We Offer? At UniUni, we empower our employe…",
              "__CLASS__": "Adzuna::API::Response::Job",
              "created": "2025-10-29T23:55:47Z",
              "location": {
                "display_name": "Vancouver, Greater Vancouver",
                "area": [
                  "Canada",
                  "British Columbia",
                  "Greater Vancouver",
                  "Vancouver"
                ],
                "__CLASS__": "Adzuna::API::Response::Location"
              },
              "company": {
                "__CLASS__": "Adzuna::API::Response::Company",
                "display_name": "UniUni Logistics"
              },
              "contract_time": "full_time",
              "latitude": 49.252255,
              "salary_is_predicted": "0",
              "id": "5470549453",
              "category": {
                "__CLASS__": "Adzuna::API::Response::Category",
                "tag": "it-jobs",
                "label": "IT Jobs"
              },
              "longitude": -123.108651,
              "redirect_url": "https://www.adzuna.ca/details/5470549453?utm_medium=api&utm_source=ead00a1f",
              "adref": "eyJhbGciOiJIUzI1NiJ9.eyJzIjoiS20zOFIwLTE4QkdRTmRnd1RDb3pZUSIsImkiOiI1NDcwNTQ5NDUzIn0.ebGhHt1pdMOczqKOi0StXFmXCBsEXVTGHlRgNJdNC0w",
              "title": "Senior Software Developer - IT Project Management"
            },
            {
              "company": {
                "display_name": "Global Relay",
                "__CLASS__": "Adzuna::API::Response::Company"
              },
              "created": "2025-10-29T23:55:27Z",
              "__CLASS__": "Adzuna::API::Response::Job",
              "location": {
                "__CLASS__": "Adzuna::API::Response::Location",
                "area": [
                  "Canada",
                  "British Columbia",
                  "Greater Vancouver",
                  "Vancouver"
                ],
                "display_name": "Vancouver, Greater Vancouver"
              },
              "description": "Job Description Job Description Who we are: For over 20 years, Global Relay has set the standard in enterprise information archiving with industry-leading cloud archiving, surveillance, eDiscovery, and analytics solutions. We securely capture and preserve the communications data of the world's most highly regulated firms, giving them greater visibility and control over their information and ensuring compliance with stringent regulations. Though we offer competitive compensation and benefits and…",
              "title": "Intermediate/Senior iOS Developer",
              "redirect_url": "https://www.adzuna.ca/details/5470548935?utm_medium=api&utm_source=ead00a1f",
              "longitude": -123.108651,
              "adref": "eyJhbGciOiJIUzI1NiJ9.eyJpIjoiNTQ3MDU0ODkzNSIsInMiOiJLbTM4UjAtMThCR1FOZGd3VENvellRIn0.-s2PyS02ZB72dd_cfpObDqk0MQa29-VXZLCf4ppurl4",
              "category": {
                "label": "IT Jobs",
                "tag": "it-jobs",
                "__CLASS__": "Adzuna::API::Response::Category"
              },
              "id": "5470548935",
              "latitude": 49.252255,
              "salary_is_predicted": "0"
            },
            {
              "title": "Senior Neural Network Kernel Software Development Engineer",
              "adref": "eyJhbGciOiJIUzI1NiJ9.eyJpIjoiNTQ3MDU0ODQ0MSIsInMiOiJLbTM4UjAtMThCR1FOZGd3VENvellRIn0.FQrKM3ZOEAIkJxt_DaAftjcWr5jnh2mn0GscyNcueSM",
              "longitude": -123.108651,
              "redirect_url": "https://www.adzuna.ca/details/5470548441?utm_medium=api&utm_source=ead00a1f",
              "category": {
                "label": "IT Jobs",
                "__CLASS__": "Adzuna::API::Response::Category",
                "tag": "it-jobs"
              },
              "id": "5470548441",
              "latitude": 49.252255,
              "salary_is_predicted": "0",
              "company": {
                "__CLASS__": "Adzuna::API::Response::Company",
                "display_name": "Targeted Talent"
              },
              "created": "2025-10-29T23:54:48Z",
              "__CLASS__": "Adzuna::API::Response::Job",
              "salary_min": 110000,
              "location": {
                "__CLASS__": "Adzuna::API::Response::Location",
                "display_name": "Vancouver, Greater Vancouver",
                "area": [
                  "Canada",
                  "British Columbia",
                  "Greater Vancouver",
                  "Vancouver"
                ]
              },
              "description": "Job Description Job Description Senior Neural Network Kernel Software Development Engineer Our client is making substantial investments in software to enhance the seamless deployment of neural networks on their hardware, streamlining the experience for researchers and developers. The focus involves the optimization of various common neural networks for optimal performance on architectures, facilitated by the software optimization tool flow. We are seeking software developers who are driven and …",
              "salary_max": 140000
            },
            {
              "description": "Job Description Job Description Who Are We? We’ve built our business on diversity. Because it works. But there’s more to diversity than meets the eye. Inclusion is a product bringing together cognitively diverse individuals chosen for their strengths, regardless of what they eat, how they look, how they worship, or who they sleep with. When teams are cognitively diverse, they work better, and Inclusion happens! We know that business flourishes when opportunities for engagement are widespread, a…",
              "company": {
                "__CLASS__": "Adzuna::API::Response::Company",
                "display_name": "Targeted Talent"
              },
              "__CLASS__": "Adzuna::API::Response::Job",
              "contract_type": "permanent",
              "location": {
                "__CLASS__": "Adzuna::API::Response::Location",
                "display_name": "Vancouver, Greater Vancouver",
                "area": [
                  "Canada",
                  "British Columbia",
                  "Greater Vancouver",
                  "Vancouver"
                ]
              },
              "created": "2025-10-29T23:51:27Z",
              "id": "5470544200",
              "salary_is_predicted": "0",
              "latitude": 49.252255,
              "title": "Senior Recruiter - REMOTE",
              "adref": "eyJhbGciOiJIUzI1NiJ9.eyJzIjoiS20zOFIwLTE4QkdRTmRnd1RDb3pZUSIsImkiOiI1NDcwNTQ0MjAwIn0.p8GcbZrfir7-yHD_jQZcHvi22YNdA93iIlmgb9XCuhE",
              "longitude": -123.108651,
              "redirect_url": "https://www.adzuna.ca/details/5470544200?utm_medium=api&utm_source=ead00a1f",
              "category": {
                "__CLASS__": "Adzuna::API::Response::Category",
                "tag": "hr-jobs",
                "label": "HR & Recruitment Jobs"
              }
            },
            {
              "description": "Huawei Canada has an immediate permanent opening for a Principal Architect. About the team: The Computing Data Application Acceleration Lab aims to create a leading global data analytics platform organized into three specialized teams using innovative programming technologies. This team focuses on full-stack innovations, including software-hardware co-design and optimizing data efficiency at both the storage and runtime layers. This team also develops next-generation GPU architecture for gaming…",
              "company": {
                "__CLASS__": "Adzuna::API::Response::Company",
                "display_name": "Huawei Technologies Canada Co., Ltd."
              },
              "contract_time": "full_time",
              "__CLASS__": "Adzuna::API::Response::Job",
              "contract_type": "permanent",
              "location": {
                "__CLASS__": "Adzuna::API::Response::Location",
                "area": [
                  "Canada",
                  "British Columbia",
                  "Greater Vancouver",
                  "Vancouver",
                  "Renfrew-Collingwood"
                ],
                "display_name": "Renfrew-Collingwood, Vancouver"
              },
              "created": "2025-10-29T15:51:53Z",
              "latitude": 49.25919,
              "salary_is_predicted": "0",
              "id": "5470007179",
              "longitude": -123.00915,
              "redirect_url": "https://www.adzuna.ca/details/5470007179?utm_medium=api&utm_source=ead00a1f",
              "adref": "eyJhbGciOiJIUzI1NiJ9.eyJzIjoiS20zOFIwLTE4QkdRTmRnd1RDb3pZUSIsImkiOiI1NDcwMDA3MTc5In0.0n63YcpfCYiabVxfUxo1bccOSrTJev-ILfEX4RVL8uE",
              "category": {
                "label": "IT Jobs",
                "__CLASS__": "Adzuna::API::Response::Category",
                "tag": "it-jobs"
              },
              "title": "Principal Architect - Large Model and Training System Performance Optimization"
            },
            {
              "company": {
                "display_name": "Huawei Technologies Canada Co., Ltd.",
                "__CLASS__": "Adzuna::API::Response::Company"
              },
              "contract_time": "full_time",
              "location": {
                "__CLASS__": "Adzuna::API::Response::Location",
                "area": [
                  "Canada",
                  "British Columbia",
                  "Greater Vancouver",
                  "Vancouver",
                  "Renfrew-Collingwood"
                ],
                "display_name": "Renfrew-Collingwood, Vancouver"
              },
              "__CLASS__": "Adzuna::API::Response::Job",
              "created": "2025-10-29T15:51:52Z",
              "contract_type": "permanent",
              "description": "Huawei Canada has an immediate permanent opening for a Senior Engineer. About the team: The Computing Data Application Acceleration Lab aims to create a leading global data analytics platform organized into three specialized teams using innovative programming technologies. This team focuses on full-stack innovations, including software-hardware co-design and optimizing data efficiency at both the storage and runtime layers. This team also develops next-generation GPU architecture for gaming, cl…",
              "title": "Senior Engineer - Large Model and Training System Performance Optimization",
              "longitude": -123.00915,
              "adref": "eyJhbGciOiJIUzI1NiJ9.eyJpIjoiNTQ3MDAwNzE3NyIsInMiOiJLbTM4UjAtMThCR1FOZGd3VENvellRIn0.ckz6gXssQ2LjqcWZ5QjaUgQtnGRxbDH8hRLdxBUcey4",
              "redirect_url": "https://www.adzuna.ca/details/5470007177?utm_medium=api&utm_source=ead00a1f",
              "category": {
                "label": "IT Jobs",
                "__CLASS__": "Adzuna::API::Response::Category",
                "tag": "it-jobs"
              },
              "id": "5470007177",
              "salary_is_predicted": "0",
              "latitude": 49.25919
            },
            {
              "location": {
                "__CLASS__": "Adzuna::API::Response::Location",
                "display_name": "Vancouver, Greater Vancouver",
                "area": [
                  "Canada",
                  "British Columbia",
                  "Greater Vancouver",
                  "Vancouver"
                ]
              },
              "__CLASS__": "Adzuna::API::Response::Job",
              "contract_type": "contract",
              "created": "2025-10-29T05:42:58Z",
              "company": {
                "__CLASS__": "Adzuna::API::Response::Company",
                "display_name": "Dialpad"
              },
              "contract_time": "full_time",
              "description": "About Dialpad Dialpad is the leading Ai-powered customer communications platform, transforming how businesses communicate with their customers. More than 50,000 companies around the globe — including Netflix, RE/MAX, Uber, Randstad, and Tractor Supply — rely on Dialpad to build stronger customer connections using real-time, Ai-driven insights. Visit dialpad.com to learn more. Being a Dialer At Dialpad, you’ll be part of a collaborative team working toward our shared mission of making our custom…",
              "title": "Software Engineer Co-op, Front End",
              "category": {
                "label": "IT Jobs",
                "tag": "it-jobs",
                "__CLASS__": "Adzuna::API::Response::Category"
              },
              "adref": "eyJhbGciOiJIUzI1NiJ9.eyJpIjoiNTQ2OTIyMjIzMiIsInMiOiJLbTM4UjAtMThCR1FOZGd3VENvellRIn0.fnDy7nc2dqlO8vlHuECdhfDKPXaX87yAD8_-jKXFaXA",
              "redirect_url": "https://www.adzuna.ca/details/5469222232?utm_medium=api&utm_source=ead00a1f",
              "id": "5469222232",
              "salary_is_predicted": "0"
            },
            {
              "description": "Central 1 cooperatively empowers credit unions and other financial institutions to deliver banking choice to Canadians. Central 1 provides critical services at scale to enable a thriving credit union system. We do this by collaborating with our clients, developing strategies, products and services to support the financial well-being of their more than 5 million diverse customers in communities across Canada. For more information, visit www.central1.com . What we offer: Work-life flexibility Hyb…",
              "contract_time": "full_time",
              "salary_min": 90000,
              "latitude": 49.252255,
              "salary_is_predicted": "0",
              "title": "Payment Application Support Specialist-(Hybrid)",
              "redirect_url": "https://www.adzuna.ca/details/5469219525?utm_medium=api&utm_source=ead00a1f",
              "salary_max": 97000,
              "company": {
                "__CLASS__": "Adzuna::API::Response::Company",
                "display_name": "Central 1 Credit Union"
              },
              "created": "2025-10-29T05:41:29Z",
              "__CLASS__": "Adzuna::API::Response::Job",
              "location": {
                "__CLASS__": "Adzuna::API::Response::Location",
                "area": [
                  "Canada",
                  "British Columbia",
                  "Greater Vancouver",
                  "Vancouver"
                ],
                "display_name": "Vancouver, Greater Vancouver"
              },
              "id": "5469219525",
              "longitude": -123.108651,
              "adref": "eyJhbGciOiJIUzI1NiJ9.eyJzIjoiS20zOFIwLTE4QkdRTmRnd1RDb3pZUSIsImkiOiI1NDY5MjE5NTI1In0.BX8ZDu3q50mvumacSl3WvrUtRhdVoDUL_4S0nDnglvo",
              "category": {
                "label": "IT Jobs",
                "__CLASS__": "Adzuna::API::Response::Category",
                "tag": "it-jobs"
              }
            },
            {
              "salary_is_predicted": "0",
              "id": "5469204778",
              "redirect_url": "https://www.adzuna.ca/details/5469204778?utm_medium=api&utm_source=ead00a1f",
              "adref": "eyJhbGciOiJIUzI1NiJ9.eyJzIjoiS20zOFIwLTE4QkdRTmRnd1RDb3pZUSIsImkiOiI1NDY5MjA0Nzc4In0.EWpedhGiEyP-FFQxG1yGqkwL9T6bNgzg1AWv_pBn2zk",
              "category": {
                "label": "IT Jobs",
                "__CLASS__": "Adzuna::API::Response::Category",
                "tag": "it-jobs"
              },
              "title": "Co-op Software Engineer, Backend",
              "description": "About Dialpad Dialpad is the leading Ai-powered customer communications platform, transforming how businesses communicate with their customers. More than 50,000 companies around the globe — including Netflix, RE/MAX, Uber, Randstad, and Tractor Supply — rely on Dialpad to build stronger customer connections using real-time, Ai-driven insights. Visit dialpad.com to learn more. Being a Dialer At Dialpad, you’ll be part of a collaborative team working toward our shared mission of making our custom…",
              "contract_time": "full_time",
              "company": {
                "display_name": "Dialpad",
                "__CLASS__": "Adzuna::API::Response::Company"
              },
              "location": {
                "area": [
                  "Canada",
                  "British Columbia",
                  "Greater Vancouver",
                  "Vancouver"
                ],
                "display_name": "Vancouver, Greater Vancouver",
                "__CLASS__": "Adzuna::API::Response::Location"
              },
              "__CLASS__": "Adzuna::API::Response::Job",
              "created": "2025-10-29T05:35:15Z",
              "contract_type": "contract"
            },
            {
              "category": {
                "label": "Engineering Jobs",
                "__CLASS__": "Adzuna::API::Response::Category",
                "tag": "engineering-jobs"
              },
              "adref": "eyJhbGciOiJIUzI1NiJ9.eyJpIjoiNTQ2OTE5ODgxMyIsInMiOiJLbTM4UjAtMThCR1FOZGd3VENvellRIn0.GLNCF9R_ihiarNTSHa0tKVFKUeanU4Jjbh0NT4XmiAQ",
              "redirect_url": "https://www.adzuna.ca/details/5469198813?utm_medium=api&utm_source=ead00a1f",
              "title": "Co-op Software Engineer, Front-End",
              "salary_is_predicted": "0",
              "id": "5469198813",
              "location": {
                "display_name": "Vancouver, Greater Vancouver",
                "area": [
                  "Canada",
                  "British Columbia",
                  "Greater Vancouver",
                  "Vancouver"
                ],
                "__CLASS__": "Adzuna::API::Response::Location"
              },
              "__CLASS__": "Adzuna::API::Response::Job",
              "created": "2025-10-29T05:31:26Z",
              "contract_type": "contract",
              "company": {
                "__CLASS__": "Adzuna::API::Response::Company",
                "display_name": "Dialpad"
              },
              "contract_time": "full_time",
              "description": "About Dialpad Dialpad is the leading Ai-powered customer communications platform, transforming how businesses communicate with their customers. More than 50,000 companies around the globe — including Netflix, RE/MAX, Uber, Randstad, and Tractor Supply — rely on Dialpad to build stronger customer connections using real-time, Ai-driven insights. Visit dialpad.com to learn more. Being a Dialer At Dialpad, you’ll be part of a collaborative team working toward our shared mission of making our custom…"
            },
            {
              "redirect_url": "https://www.adzuna.ca/details/5469195575?utm_medium=api&utm_source=ead00a1f",
              "adref": "eyJhbGciOiJIUzI1NiJ9.eyJpIjoiNTQ2OTE5NTU3NSIsInMiOiJLbTM4UjAtMThCR1FOZGd3VENvellRIn0.acJhKpGL05pvfF7Q--O4OlYzibG8t8fkEgNOpqOetBs",
              "category": {
                "label": "Engineering Jobs",
                "__CLASS__": "Adzuna::API::Response::Category",
                "tag": "engineering-jobs"
              },
              "title": "Co-op Software Engineer, Fullstack",
              "salary_is_predicted": "0",
              "id": "5469195575",
              "contract_time": "full_time",
              "company": {
                "display_name": "Dialpad",
                "__CLASS__": "Adzuna::API::Response::Company"
              },
              "contract_type": "contract",
              "__CLASS__": "Adzuna::API::Response::Job",
              "location": {
                "__CLASS__": "Adzuna::API::Response::Location",
                "display_name": "Vancouver, Greater Vancouver",
                "area": [
                  "Canada",
                  "British Columbia",
                  "Greater Vancouver",
                  "Vancouver"
                ]
              },
              "created": "2025-10-29T05:28:47Z",
              "description": "About Dialpad Dialpad is the leading Ai-powered customer communications platform, transforming how businesses communicate with their customers. More than 50,000 companies around the globe — including Netflix, RE/MAX, Uber, Randstad, and Tractor Supply — rely on Dialpad to build stronger customer connections using real-time, Ai-driven insights. Visit dialpad.com to learn more. Being a Dialer At Dialpad, you’ll be part of a collaborative team working toward our shared mission of making our custom…"
            },
            {
              "company": {
                "display_name": "vCluster Labs",
                "__CLASS__": "Adzuna::API::Response::Company"
              },
              "__CLASS__": "Adzuna::API::Response::Job",
              "salary_min": 100000,
              "location": {
                "__CLASS__": "Adzuna::API::Response::Location",
                "display_name": "Vancouver, Greater Vancouver",
                "area": [
                  "Canada",
                  "British Columbia",
                  "Greater Vancouver",
                  "Vancouver"
                ]
              },
              "created": "2025-10-29T04:11:59Z",
              "description": "Job Description Job Description About vCluster Labs We are a venture-backed tech startup striving to be the leading force in enabling platform engineers. We raised $30M from top-tier VCs such as Khosla Ventures (first investor in OpenAI, GitLab, Stripe, Doordash) and are in a hyper-growth phase looking for motivated people to complement our team. Our headquarters are in San Francisco (Salesforce Tower), but our team is distributed around the globe and we have a remote-first work culture . We're…",
              "salary_max": 145000,
              "title": "Senior Software Development Engineer in Test",
              "longitude": -123.108651,
              "adref": "eyJhbGciOiJIUzI1NiJ9.eyJzIjoiS20zOFIwLTE4QkdRTmRnd1RDb3pZUSIsImkiOiI1NDY5MTM0NDc3In0.aCRqJ0gHU9mbhtST5c6WA_wPHPziLyoaINg5uAdmv9I",
              "redirect_url": "https://www.adzuna.ca/details/5469134477?utm_medium=api&utm_source=ead00a1f",
              "category": {
                "label": "IT Jobs",
                "tag": "it-jobs",
                "__CLASS__": "Adzuna::API::Response::Category"
              },
              "id": "5469134477",
              "latitude": 49.252255,
              "salary_is_predicted": "0"
            },
            {
              "id": "5469047916",
              "latitude": 49.252255,
              "salary_is_predicted": "0",
              "title": "Senior UX Designer - Unified Communications",
              "category": {
                "tag": "it-jobs",
                "__CLASS__": "Adzuna::API::Response::Category",
                "label": "IT Jobs"
              },
              "longitude": -123.108651,
              "redirect_url": "https://www.adzuna.ca/details/5469047916?utm_medium=api&utm_source=ead00a1f",
              "adref": "eyJhbGciOiJIUzI1NiJ9.eyJzIjoiS20zOFIwLTE4QkdRTmRnd1RDb3pZUSIsImkiOiI1NDY5MDQ3OTE2In0.NYmLUXPpPPTM30l7aEK4_ICK-fdyLa_JwAOuENG9hZA",
              "description": "Who we are: For over 20 years, Global Relay has set the standard in enterprise information archiving with industry-leading cloud archiving, surveillance, eDiscovery, and analytics solutions. We securely capture and preserve the communications data of the world's most highly regulated firms, giving them greater visibility and control over their information and ensuring compliance with stringent regulations. Though we offer competitive compensation and benefits and all the other perks one would e…",
              "created": "2025-10-29T01:44:52Z",
              "__CLASS__": "Adzuna::API::Response::Job",
              "location": {
                "__CLASS__": "Adzuna::API::Response::Location",
                "display_name": "Vancouver, Greater Vancouver",
                "area": [
                  "Canada",
                  "British Columbia",
                  "Greater Vancouver",
                  "Vancouver"
                ]
              },
              "company": {
                "__CLASS__": "Adzuna::API::Response::Company",
                "display_name": "Global Relay Communications Inc. Job on T-Net"
              }
            },
            {
              "description": "Who we are: For over 20 years, Global Relay has set the standard in enterprise information archiving with industry-leading cloud archiving, surveillance, eDiscovery, and analytics solutions. We securely capture and preserve the communications data of the world's most highly regulated firms, giving them greater visibility and control over their information and ensuring compliance with stringent regulations. Though we offer competitive compensation and benefits and all the other perks one would e…",
              "location": {
                "area": [
                  "Canada",
                  "British Columbia",
                  "Greater Vancouver",
                  "Vancouver"
                ],
                "display_name": "Vancouver, Greater Vancouver",
                "__CLASS__": "Adzuna::API::Response::Location"
              },
              "__CLASS__": "Adzuna::API::Response::Job",
              "created": "2025-10-29T01:44:51Z",
              "company": {
                "__CLASS__": "Adzuna::API::Response::Company",
                "display_name": "Global Relay Communications Inc. Job on T-Net"
              },
              "salary_is_predicted": "0",
              "latitude": 49.252255,
              "id": "5469047915",
              "category": {
                "label": "IT Jobs",
                "__CLASS__": "Adzuna::API::Response::Category",
                "tag": "it-jobs"
              },
              "longitude": -123.108651,
              "redirect_url": "https://www.adzuna.ca/details/5469047915?utm_medium=api&utm_source=ead00a1f",
              "adref": "eyJhbGciOiJIUzI1NiJ9.eyJpIjoiNTQ2OTA0NzkxNSIsInMiOiJLbTM4UjAtMThCR1FOZGd3VENvellRIn0.5ijC1BUHUK4Wgq4KMEAxc0r_i1UGmbUGURgHPWF7-vU",
              "title": "Co-op (Software Development / Testing / AI) - expression of interest"
            },
            {
              "id": "5468952138",
              "latitude": 49.252255,
              "salary_is_predicted": "0",
              "title": "Program Manager - Unified Communications (UC)",
              "longitude": -123.108651,
              "adref": "eyJhbGciOiJIUzI1NiJ9.eyJpIjoiNTQ2ODk1MjEzOCIsInMiOiJLbTM4UjAtMThCR1FOZGd3VENvellRIn0.DMybW6NLiQdc3LU8J9DDKqnvuGq8djkuZWb9Ifig1WA",
              "redirect_url": "https://www.adzuna.ca/details/5468952138?utm_medium=api&utm_source=ead00a1f",
              "category": {
                "label": "IT Jobs",
                "tag": "it-jobs",
                "__CLASS__": "Adzuna::API::Response::Category"
              },
              "description": "Job Description Job Description Who we are: For over 20 years, Global Relay has set the standard in enterprise information archiving with industry-leading cloud archiving, surveillance, eDiscovery, and analytics solutions. We securely capture and preserve the communications data of the world's most highly regulated firms, giving them greater visibility and control over their information and ensuring compliance with stringent regulations. Though we offer competitive compensation and benefits and…",
              "company": {
                "__CLASS__": "Adzuna::API::Response::Company",
                "display_name": "Global Relay"
              },
              "location": {
                "__CLASS__": "Adzuna::API::Response::Location",
                "display_name": "Vancouver, Greater Vancouver",
                "area": [
                  "Canada",
                  "British Columbia",
                  "Greater Vancouver",
                  "Vancouver"
                ]
              },
              "__CLASS__": "Adzuna::API::Response::Job",
              "created": "2025-10-28T23:45:54Z"
            },
            {
              "title": "Senior Software Engineer",
              "redirect_url": "https://www.adzuna.ca/details/5468950214?utm_medium=api&utm_source=ead00a1f",
              "longitude": -123.108651,
              "adref": "eyJhbGciOiJIUzI1NiJ9.eyJzIjoiS20zOFIwLTE4QkdRTmRnd1RDb3pZUSIsImkiOiI1NDY4OTUwMjE0In0.Y3omwaFvOAuk3Hf82tQ-WcntFCpl9owCjdCC51ZfhzU",
              "category": {
                "__CLASS__": "Adzuna::API::Response::Category",
                "tag": "it-jobs",
                "label": "IT Jobs"
              },
              "id": "5468950214",
              "salary_is_predicted": "0",
              "latitude": 49.252255,
              "company": {
                "display_name": "Starboard Recruitment",
                "__CLASS__": "Adzuna::API::Response::Company"
              },
              "__CLASS__": "Adzuna::API::Response::Job",
              "created": "2025-10-28T23:39:52Z",
              "salary_min": 170000,
              "location": {
                "__CLASS__": "Adzuna::API::Response::Location",
                "display_name": "Vancouver, Greater Vancouver",
                "area": [
                  "Canada",
                  "British Columbia",
                  "Greater Vancouver",
                  "Vancouver"
                ]
              },
              "description": "Job Description Job Description On behalf of our client, Starboard Recruitment is searching for multiple Senior Software Engineers in Vancouver, BC who are experience with Golang . Our client is a US-based, Series-B with over $35M USD in funding. They currently have team in Vancouver, Toronto, Boulder and San Francisco. Apply today and our team will reach out to qualified candidates. The Role We are looking for an experienced software engineer to work on our distributed-identity orchestration p…",
              "salary_max": 190000
            },
            {
              "id": "5468950211",
              "latitude": 49.252255,
              "salary_is_predicted": "0",
              "title": "Director, Software Development",
              "redirect_url": "https://www.adzuna.ca/details/5468950211?utm_medium=api&utm_source=ead00a1f",
              "longitude": -123.108651,
              "adref": "eyJhbGciOiJIUzI1NiJ9.eyJzIjoiS20zOFIwLTE4QkdRTmRnd1RDb3pZUSIsImkiOiI1NDY4OTUwMjExIn0.Y51AleVOmajkERI_1xmUTdqw1C7f-q9RLWLFXBZVs4M",
              "category": {
                "tag": "it-jobs",
                "__CLASS__": "Adzuna::API::Response::Category",
                "label": "IT Jobs"
              },
              "description": "Job Description Job Description Description About Us Spare is a fast-growing startup transforming the way people move with on-demand transit solutions. We thrive on innovation, rapid execution, and building products that make a real impact in communities around the world. As we continue to scale, we’re looking for a Director of Software Development to play a pivotal role in shaping our software development organization and enabling Spare’s next phase of growth. About This Role As Director of So…",
              "salary_max": 234571,
              "company": {
                "__CLASS__": "Adzuna::API::Response::Company",
                "display_name": "Spare"
              },
              "__CLASS__": "Adzuna::API::Response::Job",
              "location": {
                "__CLASS__": "Adzuna::API::Response::Location",
                "area": [
                  "Canada",
                  "British Columbia",
                  "Greater Vancouver",
                  "Vancouver"
                ],
                "display_name": "Vancouver, Greater Vancouver"
              },
              "salary_min": 214699,
              "created": "2025-10-28T23:39:50Z"
            },
            {
              "title": "Software Dev Engineer II, Selling Partner Financial Tech",
              "adref": "eyJhbGciOiJIUzI1NiJ9.eyJzIjoiS20zOFIwLTE4QkdRTmRnd1RDb3pZUSIsImkiOiI1NDY4NzQ3NjIyIn0.e531cMvvVuxx3zvqVP1QOo3tl1P7N7cG77KuLuq3kng",
              "longitude": -123.108651,
              "redirect_url": "https://www.adzuna.ca/details/5468747622?utm_medium=api&utm_source=ead00a1f",
              "category": {
                "label": "IT Jobs",
                "tag": "it-jobs",
                "__CLASS__": "Adzuna::API::Response::Category"
              },
              "id": "5468747622",
              "latitude": 49.252255,
              "salary_is_predicted": "0",
              "contract_time": "full_time",
              "company": {
                "display_name": "Amazon Development Centre Canada ULC",
                "__CLASS__": "Adzuna::API::Response::Company"
              },
              "__CLASS__": "Adzuna::API::Response::Job",
              "created": "2025-10-28T20:05:28Z",
              "location": {
                "display_name": "Vancouver, Greater Vancouver",
                "area": [
                  "Canada",
                  "British Columbia",
                  "Greater Vancouver",
                  "Vancouver"
                ],
                "__CLASS__": "Adzuna::API::Response::Location"
              },
              "description": "Ever wondered how Amazon offers the earth’s biggest selection and still manages to offer lower prices every day to our customers? Are you looking for a high impact role that will reinvent the experience for FinTech products? Does building novel features for a full stack financial products that drive billions of dollars in profitability excite you? Do want to apply AI/ML in the fintech world? If yes, then we want to talk with you. Amazon's Vendor Funding team is looking for passionate, talented …"
            },
            {
              "id": "5468747430",
              "latitude": 49.252255,
              "salary_is_predicted": "0",
              "title": "Software Development Engineer Internship - Summer 2026 (Canada)",
              "longitude": -123.108651,
              "redirect_url": "https://www.adzuna.ca/details/5468747430?utm_medium=api&utm_source=ead00a1f",
              "adref": "eyJhbGciOiJIUzI1NiJ9.eyJzIjoiS20zOFIwLTE4QkdRTmRnd1RDb3pZUSIsImkiOiI1NDY4NzQ3NDMwIn0.cZ_etlqPbCu5vovG6ZsCxoloF2xFqVM6dTcWQC5FbC0",
              "category": {
                "label": "IT Jobs",
                "__CLASS__": "Adzuna::API::Response::Category",
                "tag": "it-jobs"
              },
              "description": "By applying to this position, your application will only be considered for our summer Software Development Engineer (SDE) internship roles. Our summer intern roles have start dates in May/June 2026 and are 12 weeks in duration. Do you want to solve real customer problems through innovative technology? Do you enjoy working on scalable services in a collaborative team environment? Do you want to see your code directly impact millions of customers worldwide? At Amazon, we hire the best minds in te…",
              "company": {
                "display_name": "Amazon Development Centre Canada ULC - K03",
                "__CLASS__": "Adzuna::API::Response::Company"
              },
              "contract_time": "full_time",
              "__CLASS__": "Adzuna::API::Response::Job",
              "location": {
                "display_name": "Vancouver, Greater Vancouver",
                "area": [
                  "Canada",
                  "British Columbia",
                  "Greater Vancouver",
                  "Vancouver"
                ],
                "__CLASS__": "Adzuna::API::Response::Location"
              },
              "contract_type": "contract",
              "created": "2025-10-28T20:05:23Z"
            },
            {
              "id": "5468747436",
              "salary_is_predicted": "0",
              "latitude": 49.252255,
              "title": "Software Dev Engineer II, Selling Partner Financial Tech",
              "longitude": -123.108651,
              "redirect_url": "https://www.adzuna.ca/details/5468747436?utm_medium=api&utm_source=ead00a1f",
              "adref": "eyJhbGciOiJIUzI1NiJ9.eyJzIjoiS20zOFIwLTE4QkdRTmRnd1RDb3pZUSIsImkiOiI1NDY4NzQ3NDM2In0.KtsoCMYPhC9oecWqcsMe9XnuZSmiFa6qZG6jO1M-GIk",
              "category": {
                "tag": "it-jobs",
                "__CLASS__": "Adzuna::API::Response::Category",
                "label": "IT Jobs"
              },
              "description": "Ever wondered how Amazon offers the earth’s biggest selection and still manages to offer lower prices every day to our customers? Are you looking for a high impact role that will reinvent the experience for FinTech products? Does building novel features for a full stack financial products that drive billions of dollars in profitability excite you? Do want to apply AI/ML in the fintech world? If yes, then we want to talk with you. Amazon's Vendor Funding team is looking for passionate, talented …",
              "company": {
                "__CLASS__": "Adzuna::API::Response::Company",
                "display_name": "Amazon Development Centre Canada ULC"
              },
              "contract_time": "full_time",
              "__CLASS__": "Adzuna::API::Response::Job",
              "created": "2025-10-28T20:05:23Z",
              "location": {
                "__CLASS__": "Adzuna::API::Response::Location",
                "area": [
                  "Canada",
                  "British Columbia",
                  "Greater Vancouver",
                  "Vancouver"
                ],
                "display_name": "Vancouver, Greater Vancouver"
              }
            },
            {
              "salary_is_predicted": "0",
              "latitude": 49.252255,
              "id": "5468616559",
              "longitude": -123.108651,
              "adref": "eyJhbGciOiJIUzI1NiJ9.eyJpIjoiNTQ2ODYxNjU1OSIsInMiOiJLbTM4UjAtMThCR1FOZGd3VENvellRIn0.r5dugOkxC3FNPKpNpq4hYe9WRp1gCEAfn6KaXVOxoc8",
              "redirect_url": "https://www.adzuna.ca/details/5468616559?utm_medium=api&utm_source=ead00a1f",
              "category": {
                "tag": "it-jobs",
                "__CLASS__": "Adzuna::API::Response::Category",
                "label": "IT Jobs"
              },
              "title": "Co-op Software Engineer, Backend",
              "description": "Job Description Job Description About Dialpad Dialpad is the leading Ai-powered customer communications platform, transforming how businesses communicate with their customers. More than 50,000 companies around the globe — including Netflix, RE/MAX, Uber, Randstad, and Tractor Supply — rely on Dialpad to build stronger customer connections using real-time, Ai-driven insights. Visit dialpad.com to learn more. Being a Dialer At Dialpad, you'll be part of a collaborative team working toward our sha…",
              "company": {
                "__CLASS__": "Adzuna::API::Response::Company",
                "display_name": "Dialpad"
              },
              "contract_time": "full_time",
              "__CLASS__": "Adzuna::API::Response::Job",
              "location": {
                "display_name": "Vancouver, Greater Vancouver",
                "area": [
                  "Canada",
                  "British Columbia",
                  "Greater Vancouver",
                  "Vancouver"
                ],
                "__CLASS__": "Adzuna::API::Response::Location"
              },
              "created": "2025-10-28T17:07:59Z",
              "contract_type": "contract"
            },
            {
              "location": {
                "__CLASS__": "Adzuna::API::Response::Location",
                "area": [
                  "Canada",
                  "British Columbia",
                  "Greater Vancouver",
                  "Vancouver"
                ],
                "display_name": "Vancouver, Greater Vancouver"
              },
              "__CLASS__": "Adzuna::API::Response::Job",
              "created": "2025-10-28T17:05:47Z",
              "company": {
                "display_name": "Global Relay",
                "__CLASS__": "Adzuna::API::Response::Company"
              },
              "description": "Job Description Job Description Who we are: For over 20 years, Global Relay has set the standard in enterprise information archiving with industry-leading cloud archiving, surveillance, eDiscovery, and analytics solutions. We securely capture and preserve the communications data of the world's most highly regulated firms, giving them greater visibility and control over their information and ensuring compliance with stringent regulations. Though we offer competitive compensation and benefits and…",
              "title": "Technical Product Manager - Connectors",
              "category": {
                "label": "IT Jobs",
                "tag": "it-jobs",
                "__CLASS__": "Adzuna::API::Response::Category"
              },
              "redirect_url": "https://www.adzuna.ca/details/5468615354?utm_medium=api&utm_source=ead00a1f",
              "longitude": -123.108651,
              "adref": "eyJhbGciOiJIUzI1NiJ9.eyJpIjoiNTQ2ODYxNTM1NCIsInMiOiJLbTM4UjAtMThCR1FOZGd3VENvellRIn0.pHepcW5tuGnZ3m_jTKSS33U0TsBP-cmhoOjXcT5dRK8",
              "id": "5468615354",
              "salary_is_predicted": "0",
              "latitude": 49.252255
            },
            {
              "title": "Co-op Software Engineer, Fullstack",
              "redirect_url": "https://www.adzuna.ca/details/5468614945?utm_medium=api&utm_source=ead00a1f",
              "longitude": -123.108651,
              "adref": "eyJhbGciOiJIUzI1NiJ9.eyJpIjoiNTQ2ODYxNDk0NSIsInMiOiJLbTM4UjAtMThCR1FOZGd3VENvellRIn0.El1Zbu2Kj9n-kPPRnYVfHNOQuefYNEXciVgY4_vzpOU",
              "category": {
                "__CLASS__": "Adzuna::API::Response::Category",
                "tag": "it-jobs",
                "label": "IT Jobs"
              },
              "id": "5468614945",
              "salary_is_predicted": "0",
              "latitude": 49.252255,
              "contract_time": "full_time",
              "company": {
                "__CLASS__": "Adzuna::API::Response::Company",
                "display_name": "Dialpad"
              },
              "__CLASS__": "Adzuna::API::Response::Job",
              "location": {
                "display_name": "Vancouver, Greater Vancouver",
                "area": [
                  "Canada",
                  "British Columbia",
                  "Greater Vancouver",
                  "Vancouver"
                ],
                "__CLASS__": "Adzuna::API::Response::Location"
              },
              "created": "2025-10-28T17:03:38Z",
              "contract_type": "contract",
              "description": "Job Description Job Description About Dialpad Dialpad is the leading Ai-powered customer communications platform, transforming how businesses communicate with their customers. More than 50,000 companies around the globe — including Netflix, RE/MAX, Uber, Randstad, and Tractor Supply — rely on Dialpad to build stronger customer connections using real-time, Ai-driven insights. Visit dialpad.com to learn more. Being a Dialer At Dialpad, you'll be part of a collaborative team working toward our sha…"
            },
            {
              "company": {
                "display_name": "Pixieset",
                "__CLASS__": "Adzuna::API::Response::Company"
              },
              "__CLASS__": "Adzuna::API::Response::Job",
              "location": {
                "__CLASS__": "Adzuna::API::Response::Location",
                "display_name": "Vancouver, Greater Vancouver",
                "area": [
                  "Canada",
                  "British Columbia",
                  "Greater Vancouver",
                  "Vancouver"
                ]
              },
              "created": "2025-10-28T14:24:15Z",
              "description": "Opportunity Snapshot We’re hiring a Software Developer, Full Stack to develop and deliver new product features reaching over 1 million users worldwide. Pixieset is the market leader in software for photography businesses, and as we expand our product suite, we're looking to scale our Engineering team to drive the next phase of our growth. As a Software Developer, Full Stack you'll have the opportunity to work on challenging and exciting projects and see the direct impact of your work as we exec…",
              "longitude": -123.108651,
              "adref": "eyJhbGciOiJIUzI1NiJ9.eyJpIjoiNTQ2ODQ0NjcxMiIsInMiOiJLbTM4UjAtMThCR1FOZGd3VENvellRIn0.IYW8bak2n9WVTUocAJ_JK38BIzwPvW7ULkDvS3iRHUU",
              "redirect_url": "https://www.adzuna.ca/details/5468446712?utm_medium=api&utm_source=ead00a1f",
              "category": {
                "__CLASS__": "Adzuna::API::Response::Category",
                "tag": "it-jobs",
                "label": "IT Jobs"
              },
              "title": "Full Stack Software Developer",
              "latitude": 49.252255,
              "salary_is_predicted": "0",
              "id": "5468446712"
            },
            {
              "id": "5468376123",
              "latitude": 49.252255,
              "salary_is_predicted": "0",
              "title": "Senior Rendering Engineer",
              "redirect_url": "https://www.adzuna.ca/details/5468376123?utm_medium=api&utm_source=ead00a1f",
              "longitude": -123.108651,
              "adref": "eyJhbGciOiJIUzI1NiJ9.eyJpIjoiNTQ2ODM3NjEyMyIsInMiOiJLbTM4UjAtMThCR1FOZGd3VENvellRIn0.OWCGkor1Lran3ioCnvvcG-xP2LN_64oPpb4EaTtCDVA",
              "category": {
                "label": "IT Jobs",
                "__CLASS__": "Adzuna::API::Response::Category",
                "tag": "it-jobs"
              },
              "description": "At Kabam, we're constantly raising the bar of excellence in free-to-play gaming. We hire for passion and diversity so that we can triumph in our collective skill. Our teams are made up of a fusion of personalities and interests bound together by a collaborative nature, fun-loving culture, and a drive to do what it takes to make great games. And this is where you come in We are looking for a Senior Rendering Engineer to take our rendering team to the next level. This is the perfect role for some…",
              "company": {
                "display_name": "Kabam Games Inc. Job on T-Net",
                "__CLASS__": "Adzuna::API::Response::Company"
              },
              "created": "2025-10-28T12:47:11Z",
              "__CLASS__": "Adzuna::API::Response::Job",
              "location": {
                "__CLASS__": "Adzuna::API::Response::Location",
                "area": [
                  "Canada",
                  "British Columbia",
                  "Greater Vancouver",
                  "Vancouver"
                ],
                "display_name": "Vancouver, Greater Vancouver"
              }
            },
            {
              "created": "2025-10-28T12:46:53Z",
              "__CLASS__": "Adzuna::API::Response::Job",
              "location": {
                "__CLASS__": "Adzuna::API::Response::Location",
                "area": [
                  "Canada",
                  "British Columbia",
                  "Greater Vancouver",
                  "Vancouver"
                ],
                "display_name": "Vancouver, Greater Vancouver"
              },
              "company": {
                "__CLASS__": "Adzuna::API::Response::Company",
                "display_name": "Clio Job on T-Net"
              },
              "description": "Clio is more than just a tech company-we are a global leader that is transforming the legal experience for all by bettering the lives of legal professionals while increasing access to justice . Summary: We are currently seeking a Software Development Manager to join our Engineering team. This role is available to candidates across Canada, excluding Quebec. If you are local to one of our hubs (Burnaby, Calgary, or Toronto) you will be expected to be in office minimum twice per week on one of our…",
              "category": {
                "label": "IT Jobs",
                "tag": "it-jobs",
                "__CLASS__": "Adzuna::API::Response::Category"
              },
              "longitude": -123.108651,
              "adref": "eyJhbGciOiJIUzI1NiJ9.eyJpIjoiNTQ2ODM3NTkxMCIsInMiOiJLbTM4UjAtMThCR1FOZGd3VENvellRIn0.JC7At2zWa4VIHASTVnuk5sQ4kW9YqG9zWCYXGLmJ588",
              "redirect_url": "https://www.adzuna.ca/details/5468375910?utm_medium=api&utm_source=ead00a1f",
              "title": "Software Development Manager",
              "salary_is_predicted": "0",
              "latitude": 49.252255,
              "id": "5468375910"
            },
            {
              "description": "Job Description Job Description Who Are We? UniUni, a North American leader in last-mile logistics, delivers tens of millions of parcels annually across Canada, from coast to coast, and is rapidly expanding its footprint in the United States. Founded in 2019, UniUni is known for its tech-driven innovation and crowdsourced delivery model, providing fast, economical, and reliable services to local, national, and international e-commerce clients. What Do We Offer? At UniUni, we empower our employe…",
              "company": {
                "__CLASS__": "Adzuna::API::Response::Company",
                "display_name": "UniUni Logistics"
              },
              "created": "2025-10-28T11:45:20Z",
              "__CLASS__": "Adzuna::API::Response::Job",
              "location": {
                "__CLASS__": "Adzuna::API::Response::Location",
                "display_name": "Vancouver, Greater Vancouver",
                "area": [
                  "Canada",
                  "British Columbia",
                  "Greater Vancouver",
                  "Vancouver"
                ]
              },
              "salary_is_predicted": "0",
              "latitude": 49.252255,
              "id": "5468269355",
              "longitude": -123.108651,
              "adref": "eyJhbGciOiJIUzI1NiJ9.eyJpIjoiNTQ2ODI2OTM1NSIsInMiOiJLbTM4UjAtMThCR1FOZGd3VENvellRIn0.QkpFHQ7ZEJJzFK8TmSSihJH1Wemin1mg7i8LxeU1Xzk",
              "redirect_url": "https://www.adzuna.ca/details/5468269355?utm_medium=api&utm_source=ead00a1f",
              "category": {
                "label": "IT Jobs",
                "tag": "it-jobs",
                "__CLASS__": "Adzuna::API::Response::Category"
              },
              "title": "Senior Software Developer - Client Integration - PRM"
            },
            {
              "description": "Senior Software Engineer Vancouver, Canada (Hybrid) JUDI.AI Who we are. At JUDI.AI, we’re on a mission to help transform small business dreams into vibrant communities. As a fast-paced fintech startup, we provide financial institutions with the tools to better understand and serve small businesses. Our values of Caring, Innovative, and Trustworthy guide everything we do, from our products to our culture. We’re growing quickly, and our Engineering team builds much of the innovation at the heart …",
              "location": {
                "display_name": "Granville Island, Vancouver",
                "area": [
                  "Canada",
                  "British Columbia",
                  "Greater Vancouver",
                  "Vancouver",
                  "Granville Island"
                ],
                "__CLASS__": "Adzuna::API::Response::Location"
              },
              "__CLASS__": "Adzuna::API::Response::Job",
              "created": "2025-10-28T05:48:23Z",
              "company": {
                "display_name": "Judi.Ai",
                "__CLASS__": "Adzuna::API::Response::Company"
              },
              "contract_time": "full_time",
              "id": "5467695689",
              "latitude": 49.26823,
              "salary_is_predicted": "0",
              "title": "Senior Software Engineer",
              "category": {
                "label": "IT Jobs",
                "__CLASS__": "Adzuna::API::Response::Category",
                "tag": "it-jobs"
              },
              "longitude": -123.14269,
              "adref": "eyJhbGciOiJIUzI1NiJ9.eyJpIjoiNTQ2NzY5NTY4OSIsInMiOiJLbTM4UjAtMThCR1FOZGd3VENvellRIn0.cPik84NNGa3tTfwJ-dqUzGeR6KU9l96KNsqADlNnZiU",
              "redirect_url": "https://www.adzuna.ca/details/5467695689?utm_medium=api&utm_source=ead00a1f"
            },
            {
              "latitude": 49.252255,
              "salary_is_predicted": "0",
              "id": "5467409250",
              "category": {
                "label": "IT Jobs",
                "tag": "it-jobs",
                "__CLASS__": "Adzuna::API::Response::Category"
              },
              "redirect_url": "https://www.adzuna.ca/details/5467409250?utm_medium=api&utm_source=ead00a1f",
              "longitude": -123.108651,
              "adref": "eyJhbGciOiJIUzI1NiJ9.eyJzIjoiS20zOFIwLTE4QkdRTmRnd1RDb3pZUSIsImkiOiI1NDY3NDA5MjUwIn0.YtmeKURugdrG8zx0Djoq3EkwkiK_BOuOkNpDqRQGnwI",
              "title": "Full Stack Developer",
              "salary_max": 105000,
              "description": "Job Description Job Description Description ActiveState enables DevOps, InfoSec, and Development teams to improve their security posture while simultaneously increasing productivity and innovation to deliver secure applications faster. We are the only solution in the market today that offers vulnerability-free open source language packages and containers and Intelligent Remediation, which identifies which vulnerabilities to prioritize, assesses the impact of updates causing breaking changes, pr…",
              "__CLASS__": "Adzuna::API::Response::Job",
              "salary_min": 75000,
              "created": "2025-10-28T02:54:17Z",
              "location": {
                "display_name": "Vancouver, Greater Vancouver",
                "area": [
                  "Canada",
                  "British Columbia",
                  "Greater Vancouver",
                  "Vancouver"
                ],
                "__CLASS__": "Adzuna::API::Response::Location"
              },
              "company": {
                "display_name": "ActiveState",
                "__CLASS__": "Adzuna::API::Response::Company"
              }
            },
            {
              "created": "2025-10-28T02:42:21Z",
              "__CLASS__": "Adzuna::API::Response::Job",
              "location": {
                "__CLASS__": "Adzuna::API::Response::Location",
                "area": [
                  "Canada",
                  "British Columbia",
                  "Greater Vancouver",
                  "Vancouver"
                ],
                "display_name": "Vancouver, Greater Vancouver"
              },
              "company": {
                "display_name": "Lendesk",
                "__CLASS__": "Adzuna::API::Response::Company"
              },
              "description": "Job Description Job Description Salary: 60,000K - 90,000K About Lendesk Were a financial technology company on a mission to make the mortgage experience easy, accessible, and transparent. Our flagship product is an advanced digital mortgage origination platform that connects borrowers, brokers, and lenders. Were a fast-growing team of 50 employees, composed of innovative and engaged individuals working collaboratively to deliver a unique digital home buying experience. The Role: The Senior Acco…",
              "category": {
                "label": "Accounting & Finance Jobs",
                "tag": "accounting-finance-jobs",
                "__CLASS__": "Adzuna::API::Response::Category"
              },
              "longitude": -123.108651,
              "redirect_url": "https://www.adzuna.ca/details/5467407986?utm_medium=api&utm_source=ead00a1f",
              "adref": "eyJhbGciOiJIUzI1NiJ9.eyJpIjoiNTQ2NzQwNzk4NiIsInMiOiJLbTM4UjAtMThCR1FOZGd3VENvellRIn0.PhovHKAzvaw_5WVhfPGRx_pqEG3iwvJT7_V7W-OcfdY",
              "title": "Sr. Accountant",
              "salary_is_predicted": "0",
              "latitude": 49.252255,
              "id": "5467407986"
            },
            {
              "id": "5467301207",
              "latitude": 49.252255,
              "salary_is_predicted": "0",
              "title": "Technical Product Manager - Connectors",
              "adref": "eyJhbGciOiJIUzI1NiJ9.eyJpIjoiNTQ2NzMwMTIwNyIsInMiOiJLbTM4UjAtMThCR1FOZGd3VENvellRIn0.n1FiDJBUfO_TJXvTyreNMV63zXWNDWYRmpmEE3_XLao",
              "longitude": -123.108651,
              "redirect_url": "https://www.adzuna.ca/details/5467301207?utm_medium=api&utm_source=ead00a1f",
              "category": {
                "tag": "it-jobs",
                "__CLASS__": "Adzuna::API::Response::Category",
                "label": "IT Jobs"
              },
              "description": "Who we are: For over 20 years, Global Relay has set the standard in enterprise information archiving with industry-leading cloud archiving, surveillance, eDiscovery, and analytics solutions. We securely capture and preserve the communications data of the world's most highly regulated firms, giving them greater visibility and control over their information and ensuring compliance with stringent regulations. Though we offer competitive compensation and benefits and all the other perks one would e…",
              "company": {
                "display_name": "Global Relay Communications Inc. Job on T-Net",
                "__CLASS__": "Adzuna::API::Response::Company"
              },
              "__CLASS__": "Adzuna::API::Response::Job",
              "created": "2025-10-28T01:52:44Z",
              "location": {
                "__CLASS__": "Adzuna::API::Response::Location",
                "display_name": "Vancouver, Greater Vancouver",
                "area": [
                  "Canada",
                  "British Columbia",
                  "Greater Vancouver",
                  "Vancouver"
                ]
              }
            },
            {
              "id": "5467013150",
              "category": {
                "label": "IT Jobs",
                "tag": "it-jobs",
                "__CLASS__": "Adzuna::API::Response::Category"
              },
              "longitude": -123.108651,
              "adref": "eyJhbGciOiJIUzI1NiJ9.eyJzIjoiS20zOFIwLTE4QkdRTmRnd1RDb3pZUSIsImkiOiI1NDY3MDEzMTUwIn0.X3FRYWqtpAdSpiBtcVQg8klOUlzbzv47b47ooRq5Zxo",
              "salary_max": 170000,
              "created": "2025-10-27T20:38:44Z",
              "location": {
                "display_name": "Vancouver, Greater Vancouver",
                "area": [
                  "Canada",
                  "British Columbia",
                  "Greater Vancouver",
                  "Vancouver"
                ],
                "__CLASS__": "Adzuna::API::Response::Location"
              },
              "__CLASS__": "Adzuna::API::Response::Job",
              "company": {
                "display_name": "Aequilibrium Software Inc.",
                "__CLASS__": "Adzuna::API::Response::Company"
              },
              "latitude": 49.252255,
              "salary_is_predicted": "0",
              "title": "Senior Solutions Architect & Consultant (Canada)",
              "redirect_url": "https://www.adzuna.ca/details/5467013150?utm_medium=api&utm_source=ead00a1f",
              "description": "Job Description Job Description Senior Solutions Architect & Consultant We are looking for a highly experienced Senior Solution Architect & Consultant with deep expertise in digital banking platforms (DBP) , core banking integrations, and modern banking architecture. This role requires technical leadership, enterprise solution design, and the ability to engage with financial institutions, fintech vendors, and engineering teams. As a key driver of digital banking transformation, you will archite…",
              "salary_min": 140000,
              "contract_time": "full_time"
            },
            {
              "id": "5465909730",
              "category": {
                "label": "Accounting & Finance Jobs",
                "__CLASS__": "Adzuna::API::Response::Category",
                "tag": "accounting-finance-jobs"
              },
              "adref": "eyJhbGciOiJIUzI1NiJ9.eyJzIjoiS20zOFIwLTE4QkdRTmRnd1RDb3pZUSIsImkiOiI1NDY1OTA5NzMwIn0.G0haISsSJXRet6_aDQ6O8bKxTsoKjotuKbAsSsoqDY0",
              "longitude": -123.108651,
              "salary_max": 95000,
              "location": {
                "__CLASS__": "Adzuna::API::Response::Location",
                "display_name": "Vancouver, Greater Vancouver",
                "area": [
                  "Canada",
                  "British Columbia",
                  "Greater Vancouver",
                  "Vancouver"
                ]
              },
              "__CLASS__": "Adzuna::API::Response::Job",
              "created": "2025-10-27T05:31:49Z",
              "company": {
                "display_name": "Central 1 Credit Union",
                "__CLASS__": "Adzuna::API::Response::Company"
              },
              "latitude": 49.252255,
              "salary_is_predicted": "0",
              "title": "Senior Economic Analyst-(Hybrid)",
              "redirect_url": "https://www.adzuna.ca/details/5465909730?utm_medium=api&utm_source=ead00a1f",
              "description": "Central 1 cooperatively empowers credit unions and other financial institutions to deliver banking choice to Canadians. Central 1 provides critical services at scale to enable a thriving credit union system. We do this by collaborating with our clients, developing strategies, products and services to support the financial well-being of their more than 5 million diverse customers in communities across Canada. For more information, visit www.central1.com . What we offer: Work-life flexibility Hyb…",
              "salary_min": 80000,
              "contract_time": "full_time"
            },
            {
              "latitude": 49.252255,
              "salary_is_predicted": "0",
              "id": "5465898825",
              "category": {
                "__CLASS__": "Adzuna::API::Response::Category",
                "tag": "it-jobs",
                "label": "IT Jobs"
              },
              "redirect_url": "https://www.adzuna.ca/details/5465898825?utm_medium=api&utm_source=ead00a1f",
              "longitude": -123.108651,
              "adref": "eyJhbGciOiJIUzI1NiJ9.eyJzIjoiS20zOFIwLTE4QkdRTmRnd1RDb3pZUSIsImkiOiI1NDY1ODk4ODI1In0.U7fqCYcMWOYmdbWRTEdX0PdcACKnfXBMW-EsF4l0mNU",
              "title": "Frontend Developer (Angular)",
              "description": "Job Description Job Description Salary: $88,764 $109,812 CAD / year A-CX is a software design and development partner for progressive companies, delivering innovative services through dedicated teams and customized solutions. Specializing in modern frontend and backend development, artificial intelligence, cloud architecture, and DevOps, we provide scalable custom services of the highest quality, exceeding expectations. Our experienced team builds engaging applications and secure backend soluti…",
              "created": "2025-10-27T04:53:19Z",
              "__CLASS__": "Adzuna::API::Response::Job",
              "location": {
                "area": [
                  "Canada",
                  "British Columbia",
                  "Greater Vancouver",
                  "Vancouver"
                ],
                "display_name": "Vancouver, Greater Vancouver",
                "__CLASS__": "Adzuna::API::Response::Location"
              },
              "contract_time": "full_time",
              "company": {
                "__CLASS__": "Adzuna::API::Response::Company",
                "display_name": "A-CX"
              }
            },
            {
              "adref": "eyJhbGciOiJIUzI1NiJ9.eyJpIjoiNTQ2NTg5ODgxOCIsInMiOiJLbTM4UjAtMThCR1FOZGd3VENvellRIn0.iDbLG_PRM5OIhdUTeGCc1mxAuHMO-zs1b5lj_kTOyAI",
              "longitude": -123.108651,
              "redirect_url": "https://www.adzuna.ca/details/5465898818?utm_medium=api&utm_source=ead00a1f",
              "category": {
                "label": "IT Jobs",
                "__CLASS__": "Adzuna::API::Response::Category",
                "tag": "it-jobs"
              },
              "title": "DevOps Engineer",
              "salary_is_predicted": "0",
              "latitude": 49.252255,
              "id": "5465898818",
              "contract_time": "full_time",
              "company": {
                "__CLASS__": "Adzuna::API::Response::Company",
                "display_name": "A-CX"
              },
              "__CLASS__": "Adzuna::API::Response::Job",
              "location": {
                "__CLASS__": "Adzuna::API::Response::Location",
                "area": [
                  "Canada",
                  "British Columbia",
                  "Greater Vancouver",
                  "Vancouver"
                ],
                "display_name": "Vancouver, Greater Vancouver"
              },
              "created": "2025-10-27T04:53:17Z",
              "description": "Job Description Job Description Salary: $99,327 $122,892 CAD / year A-CX is a software design and development partner for progressive companies, delivering innovative services through dedicated teams and customized solutions. Specializing in modern frontend and backend development, artificial intelligence, cloud architecture, and DevOps, we provide scalable custom services of the highest quality, exceeding expectations. Our experienced team builds engaging applications and secure backend soluti…"
            },
            {
              "adref": "eyJhbGciOiJIUzI1NiJ9.eyJzIjoiS20zOFIwLTE4QkdRTmRnd1RDb3pZUSIsImkiOiI1NDY1ODk4Mzg3In0.iRZNEZ9QXLBrB6SXFqVGBuWHQZX2hLC8IzthRGPFVIo",
              "longitude": -123.108651,
              "redirect_url": "https://www.adzuna.ca/details/5465898387?utm_medium=api&utm_source=ead00a1f",
              "category": {
                "tag": "it-jobs",
                "__CLASS__": "Adzuna::API::Response::Category",
                "label": "IT Jobs"
              },
              "title": "Technical Project Manager (PMP Certified)",
              "latitude": 49.252255,
              "salary_is_predicted": "0",
              "id": "5465898387",
              "contract_time": "full_time",
              "company": {
                "__CLASS__": "Adzuna::API::Response::Company",
                "display_name": "A-CX"
              },
              "created": "2025-10-27T04:51:44Z",
              "__CLASS__": "Adzuna::API::Response::Job",
              "location": {
                "display_name": "Vancouver, Greater Vancouver",
                "area": [
                  "Canada",
                  "British Columbia",
                  "Greater Vancouver",
                  "Vancouver"
                ],
                "__CLASS__": "Adzuna::API::Response::Location"
              },
              "description": "Job Description Job Description Salary: $115,432 $145,750 CAD / year A-CX is a software design and development partner for progressive companies, delivering innovative services through dedicated teams and customized solutions. Specializing in modern frontend and backend development, artificial intelligence, cloud architecture, and DevOps, we provide scalable custom services of the highest quality, exceeding expectations. Our experienced team builds engaging applications and secure backend solut…"
            },
            {
              "id": "5465897929",
              "salary_is_predicted": "0",
              "latitude": 49.252255,
              "title": "Full Stack Developer (Angular, C#, SQL)",
              "category": {
                "label": "IT Jobs",
                "tag": "it-jobs",
                "__CLASS__": "Adzuna::API::Response::Category"
              },
              "longitude": -123.108651,
              "redirect_url": "https://www.adzuna.ca/details/5465897929?utm_medium=api&utm_source=ead00a1f",
              "adref": "eyJhbGciOiJIUzI1NiJ9.eyJzIjoiS20zOFIwLTE4QkdRTmRnd1RDb3pZUSIsImkiOiI1NDY1ODk3OTI5In0.3mzv9_y96rTlnJWVuY6n4S7KXKIaoJTqXMyUi5o2yCA",
              "description": "Job Description Job Description Salary: $97,245 $118,683 CAD / year A-CX is a software design and development partner for progressive companies, delivering innovative services through dedicated teams and customized solutions. Specializing in modern frontend and backend development, artificial intelligence, cloud architecture, and DevOps, we provide scalable custom services of the highest quality, exceeding expectations. Our experienced team builds engaging applications and secure backend soluti…",
              "location": {
                "__CLASS__": "Adzuna::API::Response::Location",
                "area": [
                  "Canada",
                  "British Columbia",
                  "Greater Vancouver",
                  "Vancouver"
                ],
                "display_name": "Vancouver, Greater Vancouver"
              },
              "__CLASS__": "Adzuna::API::Response::Job",
              "created": "2025-10-27T04:49:49Z",
              "contract_time": "full_time",
              "company": {
                "__CLASS__": "Adzuna::API::Response::Company",
                "display_name": "A-CX"
              }
            },
            {
              "__CLASS__": "Adzuna::API::Response::Job",
              "created": "2025-10-27T01:46:12Z",
              "location": {
                "__CLASS__": "Adzuna::API::Response::Location",
                "display_name": "Vancouver, Greater Vancouver",
                "area": [
                  "Canada",
                  "British Columbia",
                  "Greater Vancouver",
                  "Vancouver"
                ]
              },
              "company": {
                "display_name": "Kabam Games Inc. Job on T-Net",
                "__CLASS__": "Adzuna::API::Response::Company"
              },
              "description": "At Kabam, we're constantly raising the bar of excellence in free-to-play gaming. We hire for passion and diversity so that we can triumph in our collective skill. Our teams are made up of a fusion of personalities and interests bound together by a collaborative nature, fun-loving culture, and a drive to do what it takes to make great games. And this is where you come in We are looking for a Frontend Senior Software Engineer to join us on a contract for for an unannounced project with a large IP…",
              "title": "Senior Software Engineer (Contract)",
              "category": {
                "label": "IT Jobs",
                "__CLASS__": "Adzuna::API::Response::Category",
                "tag": "it-jobs"
              },
              "longitude": -123.108651,
              "redirect_url": "https://www.adzuna.ca/details/5465850919?utm_medium=api&utm_source=ead00a1f",
              "adref": "eyJhbGciOiJIUzI1NiJ9.eyJzIjoiS20zOFIwLTE4QkdRTmRnd1RDb3pZUSIsImkiOiI1NDY1ODUwOTE5In0.p9BOmRPBX5uUu8215oMF0-nGhvVvna5P_fRpIgFTw2Y",
              "id": "5465850919",
              "salary_is_predicted": "0",
              "latitude": 49.252255
            },
            {
              "id": "5465850910",
              "latitude": 49.252255,
              "salary_is_predicted": "0",
              "title": "Software Developer, Mobile",
              "category": {
                "label": "IT Jobs",
                "__CLASS__": "Adzuna::API::Response::Category",
                "tag": "it-jobs"
              },
              "redirect_url": "https://www.adzuna.ca/details/5465850910?utm_medium=api&utm_source=ead00a1f",
              "longitude": -123.108651,
              "adref": "eyJhbGciOiJIUzI1NiJ9.eyJzIjoiS20zOFIwLTE4QkdRTmRnd1RDb3pZUSIsImkiOiI1NDY1ODUwOTEwIn0.pzbJqgHB4rJ2QG_tVgvNBwD8V1-ahkprbexix2SKzQ8",
              "description": "Clio is more than just a tech company-we are a global leader that is transforming the legal experience for all by bettering the lives of legal professionals while increasing access to justice . Summary: We are currently seeking a Software Developer, Mobile to join our Engineering team out of one of our hub locations (Burnaby, Calgary, or Toronto). This role is for someone who is passionate about building innovative solutions and being exposed to new challenges and technologies while making an i…",
              "__CLASS__": "Adzuna::API::Response::Job",
              "created": "2025-10-27T01:46:01Z",
              "location": {
                "display_name": "Vancouver, Greater Vancouver",
                "area": [
                  "Canada",
                  "British Columbia",
                  "Greater Vancouver",
                  "Vancouver"
                ],
                "__CLASS__": "Adzuna::API::Response::Location"
              },
              "company": {
                "__CLASS__": "Adzuna::API::Response::Company",
                "display_name": "Clio Job on T-Net"
              }
            },
            {
              "description": "Job Description Job Description We are looking for an experienced Senior DevOps Engineer for our client. This is a permanent position that is remote to start with later relocation to Calgary or Winnipeg . Our client is a global enterprise company with a product that you've likely used. This position requires the ability to code as well as perform the duties of a DevOps Engineer. Previous experience as a Software Engineer/Developer will be regarded highly. You Have: 4 years’ experience working a…",
              "salary_min": 85000,
              "latitude": 49.252255,
              "salary_is_predicted": "0",
              "redirect_url": "https://www.adzuna.ca/details/5465817860?utm_medium=api&utm_source=ead00a1f",
              "title": "Senior DevOps Engineer",
              "salary_max": 110000,
              "company": {
                "__CLASS__": "Adzuna::API::Response::Company",
                "display_name": "Targeted Talent"
              },
              "contract_type": "permanent",
              "location": {
                "area": [
                  "Canada",
                  "British Columbia",
                  "Greater Vancouver",
                  "Vancouver"
                ],
                "display_name": "Vancouver, Greater Vancouver",
                "__CLASS__": "Adzuna::API::Response::Location"
              },
              "created": "2025-10-27T00:52:00Z",
              "__CLASS__": "Adzuna::API::Response::Job",
              "id": "5465817860",
              "adref": "eyJhbGciOiJIUzI1NiJ9.eyJzIjoiS20zOFIwLTE4QkdRTmRnd1RDb3pZUSIsImkiOiI1NDY1ODE3ODYwIn0.PSTYZCVjQfo9TNq5XQ0nY_jKUHKhm3D7jOWOJgQsEio",
              "longitude": -123.108651,
              "category": {
                "label": "IT Jobs",
                "__CLASS__": "Adzuna::API::Response::Category",
                "tag": "it-jobs"
              }
            },
            {
              "salary_is_predicted": "0",
              "latitude": 49.252255,
              "id": "5465817670",
              "category": {
                "label": "IT Jobs",
                "__CLASS__": "Adzuna::API::Response::Category",
                "tag": "it-jobs"
              },
              "redirect_url": "https://www.adzuna.ca/details/5465817670?utm_medium=api&utm_source=ead00a1f",
              "longitude": -123.108651,
              "adref": "eyJhbGciOiJIUzI1NiJ9.eyJzIjoiS20zOFIwLTE4QkdRTmRnd1RDb3pZUSIsImkiOiI1NDY1ODE3NjcwIn0.oOJFLskJx4qmMlU1x_iIxAkrsbWlCg4DKtbbQrfY0Z4",
              "title": "Senior PHP Developer",
              "description": "Job Description Job Description We are looking for a Senior PHP/Full-Stack Developer for our client. This is a permanent position, that can either be remote or in-office at Vancouver! Our client is a SaaS company with a fintech product. You Have: 5 years’ minimum experience as a software developer. Strong experience using PHP Experience developing REST API's Understanding of Typescript Experience with React/Angular considered an asset Experience with Linux/Git Experience with cloud ( AWS) and A…",
              "__CLASS__": "Adzuna::API::Response::Job",
              "created": "2025-10-27T00:51:39Z",
              "location": {
                "area": [
                  "Canada",
                  "British Columbia",
                  "Greater Vancouver",
                  "Vancouver"
                ],
                "display_name": "Vancouver, Greater Vancouver",
                "__CLASS__": "Adzuna::API::Response::Location"
              },
              "contract_type": "permanent",
              "company": {
                "display_name": "Targeted Talent",
                "__CLASS__": "Adzuna::API::Response::Company"
              }
            },
            {
              "description": "Job Description Job Description We are looking for an experienced Java Developer for our client. This is a permanent position that is remote! Our client is developing a buy and sell platform for agriculture using blockchain technology. You Have: 3 years’ experience as a Software Developer, developing applications with Java. Experience working with Java 8 Experience developing applications with the Springboot framework Strong experience working with large data sets with SQL Experience working wi…",
              "company": {
                "__CLASS__": "Adzuna::API::Response::Company",
                "display_name": "Targeted Talent"
              },
              "__CLASS__": "Adzuna::API::Response::Job",
              "location": {
                "__CLASS__": "Adzuna::API::Response::Location",
                "area": [
                  "Canada",
                  "British Columbia",
                  "Greater Vancouver",
                  "Vancouver"
                ],
                "display_name": "Vancouver, Greater Vancouver"
              },
              "contract_type": "permanent",
              "created": "2025-10-27T00:51:26Z",
              "id": "5465817456",
              "salary_is_predicted": "0",
              "latitude": 49.252255,
              "title": "Senior Java Developer",
              "longitude": -123.108651,
              "redirect_url": "https://www.adzuna.ca/details/5465817456?utm_medium=api&utm_source=ead00a1f",
              "adref": "eyJhbGciOiJIUzI1NiJ9.eyJpIjoiNTQ2NTgxNzQ1NiIsInMiOiJLbTM4UjAtMThCR1FOZGd3VENvellRIn0.j65AdylXr0JeJAM4cWCoYzM7qIfi34HqMa5DSCqfj7k",
              "category": {
                "label": "IT Jobs",
                "tag": "it-jobs",
                "__CLASS__": "Adzuna::API::Response::Category"
              }
            },
            {
              "location": {
                "__CLASS__": "Adzuna::API::Response::Location",
                "area": [
                  "Canada",
                  "British Columbia",
                  "Greater Vancouver",
                  "Vancouver"
                ],
                "display_name": "Vancouver, Greater Vancouver"
              },
              "__CLASS__": "Adzuna::API::Response::Job",
              "created": "2025-10-27T00:50:22Z",
              "company": {
                "display_name": "Lendesk",
                "__CLASS__": "Adzuna::API::Response::Company"
              },
              "description": "Job Description Job Description Salary: $ 89,500 - $134,000 CAD About Lendesk Were a financial technology company on a mission to make the mortgage experience easy, accessible and transparent. Our flagship product is an advanced digital mortgage origination platform that connects borrowers, brokers and lenders. Were a fast-growing team of 50 employees, composed of innovative and engaged individuals working collaboratively to deliver a unique digital home buying experience. We are a remote-first…",
              "title": "Senior Product Marketing Manager",
              "category": {
                "label": "PR, Advertising & Marketing Jobs",
                "tag": "pr-advertising-marketing-jobs",
                "__CLASS__": "Adzuna::API::Response::Category"
              },
              "redirect_url": "https://www.adzuna.ca/details/5465812405?utm_medium=api&utm_source=ead00a1f",
              "longitude": -123.108651,
              "adref": "eyJhbGciOiJIUzI1NiJ9.eyJzIjoiS20zOFIwLTE4QkdRTmRnd1RDb3pZUSIsImkiOiI1NDY1ODEyNDA1In0.UvYrXUvRTWnVLzjkVbSIN5rYnUWQe_hd77-oyrCYuzw",
              "id": "5465812405",
              "latitude": 49.252255,
              "salary_is_predicted": "0"
            },
            {
              "adref": "eyJhbGciOiJIUzI1NiJ9.eyJpIjoiNTQ2NTgxMDkxNyIsInMiOiJLbTM4UjAtMThCR1FOZGd3VENvellRIn0.cjM5vWzgCp9c-cI8dsfN2mvOsa6CGY3KB6h7nW41a-A",
              "longitude": -123.108651,
              "redirect_url": "https://www.adzuna.ca/details/5465810917?utm_medium=api&utm_source=ead00a1f",
              "category": {
                "label": "IT Jobs",
                "__CLASS__": "Adzuna::API::Response::Category",
                "tag": "it-jobs"
              },
              "title": "Customer Success Engineer",
              "latitude": 49.252255,
              "salary_is_predicted": "0",
              "id": "5465810917",
              "company": {
                "display_name": "Targeted Talent",
                "__CLASS__": "Adzuna::API::Response::Company"
              },
              "created": "2025-10-27T00:49:31Z",
              "__CLASS__": "Adzuna::API::Response::Job",
              "location": {
                "__CLASS__": "Adzuna::API::Response::Location",
                "display_name": "Vancouver, Greater Vancouver",
                "area": [
                  "Canada",
                  "British Columbia",
                  "Greater Vancouver",
                  "Vancouver"
                ]
              },
              "description": "Job Description Job Description We are looking for multiple (3) Customer Success Engineers for our client looking to build out a brand new team! This is a remote position, with a company based in Vancouver. Our client is a rapidly growing software development company. You Have: 2 years of Customer Success Management, Consulting or Project delivery for a global B2B tech, SaaS or enterprise software business Analytical: Strong analytical skills with an aptitude for translating quantitative and qu…"
            },
            {
              "company": {
                "__CLASS__": "Adzuna::API::Response::Company",
                "display_name": "Targeted Talent"
              },
              "location": {
                "__CLASS__": "Adzuna::API::Response::Location",
                "display_name": "Vancouver, Greater Vancouver",
                "area": [
                  "Canada",
                  "British Columbia",
                  "Greater Vancouver",
                  "Vancouver"
                ]
              },
              "__CLASS__": "Adzuna::API::Response::Job",
              "contract_type": "permanent",
              "created": "2025-10-27T00:49:07Z",
              "description": "Job Description Job Description We are looking for an experienced Java Developer for our client. This is a permanent position that is remote to start with potential later relocation to Calgary or Winnipeg . Our client is a global enterprise company with a product that you've likely used. You Have: 3 years’ experience as a Software Developer Experience working with Java , including great working knowledge of Java8 Lambdas and streaming functionality Experience working with Microservices architec…",
              "title": "Java Developer",
              "redirect_url": "https://www.adzuna.ca/details/5465810531?utm_medium=api&utm_source=ead00a1f",
              "longitude": -123.108651,
              "adref": "eyJhbGciOiJIUzI1NiJ9.eyJpIjoiNTQ2NTgxMDUzMSIsInMiOiJLbTM4UjAtMThCR1FOZGd3VENvellRIn0.3ZBYmCRK0uHKM2u0FC0S46WRdlLEPLZiCiG5BgmqrkA",
              "category": {
                "label": "IT Jobs",
                "tag": "it-jobs",
                "__CLASS__": "Adzuna::API::Response::Category"
              },
              "id": "5465810531",
              "salary_is_predicted": "0",
              "latitude": 49.252255
            },
            {
              "description": "Job Description Job Description We are looking for multiple (5) Technical Support Engineers for our client looking to build out a brand new team! This is a remote position, with a company based in Vancouver. Our client is a rapidly growing software development company. You Have: Two years in IT support related field or minimum two years' experience in system (Messaging) administration preferred Expert knowledge of email/networking protocols (e.g.: SMTP, EWS, NRPC, IMAP, DNS, and RFCs) Knowledge…",
              "company": {
                "__CLASS__": "Adzuna::API::Response::Company",
                "display_name": "Targeted Talent"
              },
              "__CLASS__": "Adzuna::API::Response::Job",
              "location": {
                "display_name": "Vancouver, Greater Vancouver",
                "area": [
                  "Canada",
                  "British Columbia",
                  "Greater Vancouver",
                  "Vancouver"
                ],
                "__CLASS__": "Adzuna::API::Response::Location"
              },
              "created": "2025-10-27T00:48:59Z",
              "latitude": 49.252255,
              "salary_is_predicted": "0",
              "id": "5465810370",
              "longitude": -123.108651,
              "adref": "eyJhbGciOiJIUzI1NiJ9.eyJzIjoiS20zOFIwLTE4QkdRTmRnd1RDb3pZUSIsImkiOiI1NDY1ODEwMzcwIn0.JDq4udj9L4JEbe7l4IBvVqgLBxTv6PnWO6cpf56DXoc",
              "redirect_url": "https://www.adzuna.ca/details/5465810370?utm_medium=api&utm_source=ead00a1f",
              "category": {
                "label": "IT Jobs",
                "__CLASS__": "Adzuna::API::Response::Category",
                "tag": "it-jobs"
              },
              "title": "Technical Support Engineer"
            },
            {
              "description": "Job Description Job Description We are looking for a PHP/Full-Stack Developer for our client. This is a permanent position, that can either be remote or in-office at Vancouver! Our client is a SaaS company with a fintech product. You Have: 3 years’ minimum experience as a software developer. Strong experience using PHP Experience developing REST API's Understanding of Typescript Experience with React/Angular considered an asset Experience with Linux/Git Experience with cloud ( AWS) and AWS CLI …",
              "contract_type": "permanent",
              "__CLASS__": "Adzuna::API::Response::Job",
              "location": {
                "display_name": "Vancouver, Greater Vancouver",
                "area": [
                  "Canada",
                  "British Columbia",
                  "Greater Vancouver",
                  "Vancouver"
                ],
                "__CLASS__": "Adzuna::API::Response::Location"
              },
              "created": "2025-10-27T00:48:57Z",
              "company": {
                "display_name": "Targeted Talent",
                "__CLASS__": "Adzuna::API::Response::Company"
              },
              "latitude": 49.252255,
              "salary_is_predicted": "0",
              "id": "5465810243",
              "category": {
                "__CLASS__": "Adzuna::API::Response::Category",
                "tag": "it-jobs",
                "label": "IT Jobs"
              },
              "longitude": -123.108651,
              "redirect_url": "https://www.adzuna.ca/details/5465810243?utm_medium=api&utm_source=ead00a1f",
              "adref": "eyJhbGciOiJIUzI1NiJ9.eyJzIjoiS20zOFIwLTE4QkdRTmRnd1RDb3pZUSIsImkiOiI1NDY1ODEwMjQzIn0.QFXGNEfwuMRR_k4gHBIxgiuMFADqv9IqzgUCKJiWdBI",
              "title": "PHP Developer"
            },
            {
              "description": "Job Description Job Description We are looking for an experienced Java Developer for our client. This is a permanent position that is remote! Our client is developing a buy and sell platform for agriculture using blockchain technology. You Have: 3 years’ experience as a Software Developer, developing applications with Java. Experience working with Java 8 Experience developing applications with the Springboot framework is required Strong experience working with large data sets with SQL Experienc…",
              "location": {
                "__CLASS__": "Adzuna::API::Response::Location",
                "area": [
                  "Canada",
                  "British Columbia",
                  "Greater Vancouver",
                  "Vancouver"
                ],
                "display_name": "Vancouver, Greater Vancouver"
              },
              "__CLASS__": "Adzuna::API::Response::Job",
              "created": "2025-10-27T00:48:31Z",
              "contract_type": "permanent",
              "company": {
                "__CLASS__": "Adzuna::API::Response::Company",
                "display_name": "Targeted Talent"
              },
              "latitude": 49.252255,
              "salary_is_predicted": "0",
              "id": "5465808636",
              "category": {
                "__CLASS__": "Adzuna::API::Response::Category",
                "tag": "it-jobs",
                "label": "IT Jobs"
              },
              "longitude": -123.108651,
              "adref": "eyJhbGciOiJIUzI1NiJ9.eyJzIjoiS20zOFIwLTE4QkdRTmRnd1RDb3pZUSIsImkiOiI1NDY1ODA4NjM2In0.Os6A8lNfW7BAT7pwqkXiZQsgQssrBj8tiaTT1zYguAc",
              "redirect_url": "https://www.adzuna.ca/details/5465808636?utm_medium=api&utm_source=ead00a1f",
              "title": "Java Developer"
            },
            {
              "salary_is_predicted": "0",
              "latitude": 49.252255,
              "id": "5465808522",
              "longitude": -123.108651,
              "adref": "eyJhbGciOiJIUzI1NiJ9.eyJpIjoiNTQ2NTgwODUyMiIsInMiOiJLbTM4UjAtMThCR1FOZGd3VENvellRIn0.zHkV_RvIFZDjAhKKQAdeWWX2EGsRKOYGct_GPywJoTI",
              "redirect_url": "https://www.adzuna.ca/details/5465808522?utm_medium=api&utm_source=ead00a1f",
              "category": {
                "label": "IT Jobs",
                "__CLASS__": "Adzuna::API::Response::Category",
                "tag": "it-jobs"
              },
              "title": "Director of Software Development",
              "description": "Job Description Job Description We are looking for an experienced Director of Software Development for our client. This is a permanent position that is remote to start with later relocation to Vancouver . Our client is a global enterprise company providing a last-mile delivery service to large E-Commerce and retail businesses. You Have: 10 years’ experience as a Software Developer 2 years' people management experience leading full-stack engineering teams Extensive experience mentoring junior de…",
              "company": {
                "__CLASS__": "Adzuna::API::Response::Company",
                "display_name": "Targeted Talent"
              },
              "__CLASS__": "Adzuna::API::Response::Job",
              "contract_type": "permanent",
              "location": {
                "display_name": "Vancouver, Greater Vancouver",
                "area": [
                  "Canada",
                  "British Columbia",
                  "Greater Vancouver",
                  "Vancouver"
                ],
                "__CLASS__": "Adzuna::API::Response::Location"
              },
              "created": "2025-10-27T00:47:51Z"
            }
          ],
          "mean": 128563.37
        }
      }
    ]
  },
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Adzuna API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adzuna API": {
      "main": [
        [
          {
            "node": "Transform Job Data",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read Existing Job IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform Job Data": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Existing Job IDs": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Any New Jobs?": {
      "main": [
        [
          {
            "node": "Append New Jobs Only",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log No New Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append New Jobs Only": {
      "main": [
        [
          {
            "node": "Log Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Any New Jobs?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1fe2598d-c93e-4a7d-ad74-cac6f43007d5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "71ef632b3ea0984c927b7776c61fb9a372c4b6670ebd74c359a3b7c4a8989adc"
  },
  "id": "a0TbbJYsKk3LJzJp",
  "tags": []
}