workflows/fetch-full-description.json
[
  {
    "createdAt": "2025-10-30T10:27:37.825Z",
    "updatedAt": "2025-10-30T11:30:05.000Z",
    "id": "fetch-full-description",
    "name": "Fetch Full Job Description",
    "active": false,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "fetch-job-description",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "webhook-trigger",
        "name": "Webhook Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1.1,
        "position": [
          -400,
          32
        ],
        "webhookId": "fetch-job-description",
        "notesInFlow": true,
        "notes": "Receives POST request with job_id and url from frontend"
      },
      {
        "parameters": {
          "jsCode": "// Validate incoming request\nconst body = $input.item.json.body || {};\nconst jobId = body.job_id;\nconst url = body.url;\n\nif (!jobId || !url) {\n  throw new Error('Missing required fields: job_id and url are required');\n}\n\nreturn [{\n  json: {\n    job_id: jobId,\n    url: url\n  }\n}];"
        },
        "id": "validate-input",
        "name": "Validate Input",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -176,
          32
        ],
        "notesInFlow": true,
        "notes": "Validates that job_id and url are present in request"
      },
      {
        "parameters": {
          "url": "={{ $json.url }}",
          "options": {
            "timeout": 30000
          }
        },
        "id": "fetch-url-node",
        "name": "Fetch Job Page",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          48,
          32
        ],
        "notesInFlow": true,
        "onError": "continueErrorOutput",
        "notes": "Fetches the full job posting HTML from the provided URL"
      },
      {
        "parameters": {
          "jsCode": "// Extract full description from HTML\nconst html = $input.item.json.data || '';\nconst jobId = $input.item.json.job_id;\n\n// Try multiple extraction strategies\nlet fullDescription = '';\n\n// Strategy 1: Look for common job description containers\nconst descPatterns = [\n  /<div[^>]*class=[\"'][^\"']*description[^\"']*[\"'][^>]*>([\\s\\S]*?)<\\/div>/i,\n  /<div[^>]*class=[\"'][^\"']*job-description[^\"']*[\"'][^>]*>([\\s\\S]*?)<\\/div>/i,\n  /<article[^>]*>([\\s\\S]*?)<\\/article>/i,\n  /<section[^>]*class=[\"'][^\"']*description[^\"']*[\"'][^>]*>([\\s\\S]*?)<\\/section>/i\n];\n\nfor (const pattern of descPatterns) {\n  const match = html.match(pattern);\n  if (match && match[1]) {\n    fullDescription = match[1];\n    break;\n  }\n}\n\n// Fallback: If no match, try to get text content between body tags\nif (!fullDescription) {\n  const bodyMatch = html.match(/<body[^>]*>([\\s\\S]*?)<\\/body>/i);\n  if (bodyMatch && bodyMatch[1]) {\n    fullDescription = bodyMatch[1];\n  }\n}\n\n// Clean up HTML tags and extra whitespace\nfullDescription = fullDescription\n  .replace(/<script[^>]*>([\\s\\S]*?)<\\/script>/gi, '')\n  .replace(/<style[^>]*>([\\s\\S]*?)<\\/style>/gi, '')\n  .replace(/<[^>]+>/g, ' ')\n  .replace(/\\s+/g, ' ')\n  .trim();\n\n// Limit to reasonable length (Google Sheets cell limit is ~50k chars)\nif (fullDescription.length > 45000) {\n  fullDescription = fullDescription.substring(0, 45000) + '... [truncated]';\n}\n\nreturn [{\n  json: {\n    job_id: jobId,\n    full_description: fullDescription || 'Could not extract description'\n  }\n}];"
        },
        "id": "extract-node",
        "name": "Extract Description",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          272,
          -64
        ],
        "notesInFlow": true,
        "alwaysOutputData": true,
        "notes": "Parses HTML and extracts the full job description text"
      },
      {
        "parameters": {
          "operation": "update",
          "documentId": {
            "__rl": true,
            "value": "1hbLk3vna5jKDJElkWXTt0WzsVoy8WmSH2bXS8CkykKI",
            "mode": "list",
            "cachedResultName": "Job Listings",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hbLk3vna5jKDJElkWXTt0WzsVoy8WmSH2bXS8CkykKI/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Sheet1",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hbLk3vna5jKDJElkWXTt0WzsVoy8WmSH2bXS8CkykKI/edit#gid=0"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "full_description": "={{ $json.full_description }}",
              "row_number": 0,
              "job_id": "={{ $('Validate Input').item.json.job_id }}"
            },
            "matchingColumns": [
              "job_id"
            ],
            "schema": [
              {
                "id": "job_id",
                "displayName": "job_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "title",
                "displayName": "title",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "company",
                "displayName": "company",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "location",
                "displayName": "location",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "salary_min",
                "displayName": "salary_min",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "salary_max",
                "displayName": "salary_max",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "salary_display",
                "displayName": "salary_display",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "description",
                "displayName": "description",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "url",
                "displayName": "url",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "posted_date",
                "displayName": "posted_date",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "scraped_date",
                "displayName": "scraped_date",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "category",
                "displayName": "category",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "contract_type",
                "displayName": "contract_type",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "status",
                "displayName": "status",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "full_description",
                "displayName": "full_description",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "row_number",
                "displayName": "row_number",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true,
                "readOnly": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "id": "update-sheet-node",
        "name": "Update Sheet by Job ID",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.2,
        "position": [
          496,
          -64
        ],
        "notesInFlow": true,
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "w63BorthWOhmbdvW",
            "name": "Google Sheets account"
          }
        },
        "notes": "Updates the full_description column for the matching job_id"
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ { \"success\": true, \"job_id\": $json.job_id, \"message\": \"Full description fetched and updated\" } }}",
          "options": {}
        },
        "id": "response-success",
        "name": "Return Success",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [
          720,
          -64
        ],
        "notesInFlow": true,
        "notes": "Returns success response to frontend"
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ { \"success\": false, \"error\": $json.error || \"Failed to fetch job description\" } }}",
          "options": {}
        },
        "id": "response-error",
        "name": "Return Error",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [
          272,
          128
        ],
        "notesInFlow": true,
        "notes": "Returns error response to frontend"
      }
    ],
    "connections": {
      "Webhook Trigger": {
        "main": [
          [
            {
              "node": "Validate Input",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Validate Input": {
        "main": [
          [
            {
              "node": "Fetch Job Page",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch Job Page": {
        "main": [
          [
            {
              "node": "Extract Description",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Return Error",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract Description": {
        "main": [
          [
            {
              "node": "Update Sheet by Job ID",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update Sheet by Job ID": {
        "main": [
          [
            {
              "node": "Return Success",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "errorWorkflow": "Return Error"
    },
    "staticData": null,
    "meta": {
      "templateCredsSetupCompleted": true
    },
    "pinData": {},
    "versionId": "497087e0-3003-416a-bf60-014ba88531b6",
    "triggerCount": 0,
    "tags": [],
    "shared": [
      {
        "createdAt": "2025-10-30T10:27:37.831Z",
        "updatedAt": "2025-10-30T10:27:37.831Z",
        "role": "workflow:owner",
        "workflowId": "fetch-full-description",
        "projectId": "ZZSvgLThKJKp6JhS",
        "project": {
          "createdAt": "2025-10-23T00:58:43.817Z",
          "updatedAt": "2025-10-23T00:59:29.707Z",
          "id": "ZZSvgLThKJKp6JhS",
          "name": "Chris Irineo <chriskevini@gmail.com>",
          "type": "personal",
          "icon": null,
          "description": null
        }
      }
    ]
  }
]